.app-footer-wrapper {
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    border: 1px solid #b0b0b066;
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;

    .left-wrapper {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: baseline;
    }

    .right-wrapper {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-end;
    }

    .categories-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        p {
            margin-right: 20px;
            font-weight: 500;
            margin-bottom: 0;
            white-space: nowrap;
            cursor: pointer;
            color: #121212;
            &:hover {
                color: #a21212;
            }
        }
    }
    .collections-wrapper {
        display: flex;
        margin-top: 15px;
        flex-wrap: wrap;
        line-height: 25px;

        span {
            margin: 0 5px;
        }
        p {
            color: #808080;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
    .about-socialmedia-icons {
        display: flex;
        align-items: center;
        height: auto;

        .social-media-icons {
            display: flex;
            align-items: center;
            padding: 0;

            .social-ic {
                width: 25px;
                margin: 0 10px;
                cursor: pointer;
            }
        }
    }
    .mid-wrapper {
        text-align: center;
        flex: none;
        .nalli-logo {
            width: 70px;
            filter: grayscale(100%);
            object-fit: contain;
        }
        .nalli-silk-content {
            color: #808080;
            margin: 0;
        }
    }
}

@media (max-width: 1024px) {
    .app-footer-wrapper {
        flex-flow: column;
        .left-wrapper {
            align-items: center;
        }
        .mid-wrapper {
            margin: 25px 0;
        }
        .right-wrapper {
            align-items: center;
        }
        .categories-wrapper {
            justify-content: center;
            line-height: 30px;
        }
        .collections-wrapper {
            display: flex;
            justify-content: center;
        }
    }
}
