<div class="application-header">
  <div class="left-wrap">
    <div class="logo-wrapper">
      <img class="brand-logo" src="../../../assets/logo/app-logo.png" alt="" />
    </div>
    <div class="navigation-links">
      <button class="header-menu">Women</button>
      <button class="header-menu">Men</button>
      <button class="header-menu">Baby & Kids</button>
      <button class="header-menu">Home Fashion</button>
      <button class="header-menu">Offers</button>
    </div>
  </div>
  <div class="mid-wrap">
    <div class="search-wrapper">
      <div class="input-with-icon">
        <i class="fa fa-search icon"></i>
        <input class="input-field" placeholder="Search" type="text" />
      </div>
    </div>
  </div>
  <div class="right-wrap">
    <div class="search-container" (click)="openNav()">
      <span class="search-button">&#9906;</span>
    </div>
    <div class="icons-wrapper">
      <i class="fa fa-heart" [matBadge]="likebadge" aria-hidden="true"></i>
      <i class="fa fa-shopping-cart" [matBadge]="cartbadge" aria-hidden="true"></i>
    </div>
    <div class="profile-picture"><img src="../../../assets/profile.jpg" alt=""></div>
    <span class="mob-nav-menu" (click)="openNav()">&#9776;</span>
  </div>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="search-header">
    <input type="search" placeholder="Product Search.." class="search-ip" />
  </div>
  <a href="#">Women</a>
  <a href="#">Men</a>
  <a href="#">Baby & Kids</a>
  <a href="#">Home Fashion</a>
  <a href="#">Offers</a>
</div>