.application-header {
  padding: 15px 50px;
  border-bottom: 1px solid;
  display: flex;

  .left-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    .mob-nav-menu {
      display: none;
      font-size: 30px;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .mid-wrap {
    flex: none;
    align-items: center;
    display: flex;
  }
  .right-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .mob-nav-menu {
      display: none;
      font-size: 30px;
      cursor: pointer;
      margin-left: 15px;
      color: #a21212;
    }
    .search-container {
      display: none;
      .search-button {
        display: inline-block;
        margin: 0;
        background-color: #fff;
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
        text-align: center;
        color: #a21212;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        pointer-events: none;
        -webkit-transform: rotate(-45deg);
      }
    }
  }

  .brand-logo {
    width: 70px;
  }

  .navigation-links {
    display: flex;
    .header-menu {
      width: auto;
      background: none;
      outline: transparent;
      border: none;
      font-weight: 600;
      margin: 0 10px;
      padding: 0;
      white-space: nowrap;
      cursor: pointer;
      color: #333;
      &:hover {
        color: #a21212;
      }
    }
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0 56px;

    .input-with-icon {
      width: 100%;
      i {
        position: absolute;
      }

      .icon {
        padding: 10px;
        color: #6d716d;
        text-align: center;
      }

      .input-field {
        width: 250px;
        padding: 10px 10px 10px 35px;
        text-align: left;
        border: 1px solid #ddd;
      }
    }
  }

  .menu-wrapper {
    padding: 9px;
    color: #6d716d;
    border-top: 1px solid #6d716d;
    border-bottom: 1px solid #6d716d;
    border-right: 1px solid #6d716d;
  }

  .icons-wrapper {
    width: 90px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
      width: 40%;
      color: #a21212;
      font-size: 28px;
      margin-right: 20px;
    }
  }

  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 35px;
      border-radius: 50px;
      border: 1px solid #000;
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #a21212;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav {
  .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  .search-header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    .search-ip {
      width: 100%;
      padding: 12px 20px;
      background: transparent;
      color: #fff;
      border: 1px solid #bbbbbb;
      font-size: 16px;
      outline: none;
      border-radius: 4px;

      &::placeholder {
        color: #b3b3b3;
      }
    }
  }
  a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #eee;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: #fff;
    }
  }
}

@media (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
  }
}

@media (max-width: 1024px) {
  .application-header {
    padding: 15px 20px;

    .left-wrap {
      .mob-nav-menu {
        display: block;
      }
      .navigation-links {
        display: none;
      }
    }
    .mid-wrap {
      display: none;
    }
    .right-wrap {
      .mob-nav-menu {
        display: block;
      }
      .search-container {
        display: inline-flex;
        // position: absolute;
        .search:focus {
          width: calc(100vw - 70px);
        }
      }
    }
  }
}
