<div class="application-header">
  <div class="left-wrap">
    <div class="logo-wrapper">
      <img class="brand-logo" src="../../../assets/logo/app-logo.png" alt="" />
    </div>
    <div class="navigation-links">
      <button class="header-menu">Women</button>
      <button class="header-menu">Men</button>
      <button class="header-menu">Baby & Kids</button>
      <button class="header-menu">Home Fashion</button>
      <button class="header-menu">Offers</button>
    </div>
  </div>
  <div class="mid-wrap">
    <div class="search-wrapper">
      <div class="input-with-icon">
        <i class="fa fa-search icon"></i>
        <input class="input-field" type="text" />
      </div>
      <div class="menu-wrapper">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="right-wrap">
    <div class="icons-wrapper">
      <i class="fa fa-heart" [matBadge]="likebadge" aria-hidden="true"></i>
      <i class="fa fa-shopping-cart" [matBadge]="cartbadge" aria-hidden="true"></i>
    </div>
    <div class="profile-picture"><img src="../../../assets/profile.jpg" alt=""></div>
  </div>
</div>