<div class="common-slider-container">
  <app-subheading sliderTitle="{{ sliderTitle }}"></app-subheading>
  <swiper class="common-swiper" slidesPerView="auto" loop="true" navigation="true">
    <ng-container class="common-slider" *ngFor="let product of products">
      <ng-template swiperSlide>
        <app-sale-item productImage={{product.image}} productName="{{ product.title }}"
          productCategory="{{ product.category}}" saleAmount="{{ product.price }}"
          rating="{{ getStarRating(product.starRating) }}"></app-sale-item>
      </ng-template>
    </ng-container>
  </swiper>

</div>