.sale-item {
  position: relative;
  width: 100%;
  word-break: break-word;

  .product-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
    border: 1px solid #edeff2;
    margin-bottom: 10px;
  }

  .product-category {
    font-family: "Roboto";
    font-weight: 400;
    color: #9e9e9e;
    margin: 0;
    margin-bottom: 3px;
    font-size: 14px;
  }
  .product-name {
    font-size: 16px;
    color: #333;
    margin: 0;
    margin-bottom: 3px;
    font-family: "Roboto";
    font-weight: 400;
  }

  .star-rating {
    .fa {
      padding: 0 2px;
      color: #acabab;
    }
  }

  .sale-amount {
    font-weight: 500;
    font-size: 14px;
  }

  .add-fav {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    &.fav-active {
      color: red;
    }
  }

  .add-cart {
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;

    &.cart-active {
      color: red;
    }
  }
  .star-rating-wrapper {
    cursor: pointer;
  }
}

.one-star-rating {
  .fa:first-child {
    padding: 0 2px;
    color: red;
  }

  .fa {
    padding: 0 2px;
    color: #acabab;
    cursor: pointer;
  }
}

.two-star-rating {
  .fa {
    padding: 0 2px;
    color: #acabab;
  }

  .fa:first-child {
    color: red;
  }

  .fa:nth-child(2) {
    color: orange;
  }
}

.three-star-rating {
  .fa {
    padding: 0 2px;
    color: #acabab;
  }

  .fa:first-child {
    color: red;
  }

  .fa:nth-child(2) {
    color: orange;
  }

  .fa:nth-child(3) {
    color: yellow;
  }
}

.four-star-rating {
  .fa {
    padding: 0 2px;
    color: #acabab;
  }

  .fa:first-child {
    color: red;
  }

  .fa:nth-child(2) {
    color: orange;
  }

  .fa:nth-child(3) {
    color: yellow;
  }

  .fa:nth-child(4) {
    color: lightgreen;
  }
}

.five-star-rating {
  .fa {
    padding: 0 2px;
    color: #acabab;
  }

  .fa:first-child {
    color: red;
  }

  .fa:nth-child(2) {
    color: orange;
  }

  .fa:nth-child(3) {
    color: yellow;
  }

  .fa:nth-child(4) {
    color: lightgreen;
  }

  .fa:nth-child(5) {
    color: darkgreen;
  }
}
