<div class="sale-item">
    <img class="product-image" [src]="productImage" alt="sale item">
    <p class="product-name">{{productName}}</p>
    <p class="product-category">{{productCategory}}</p>
    <p class="sale-amount"><i class="fa fa-inr" aria-hidden="true"></i>{{saleAmount}}</p>
    <div [class]="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
    </div>

    <i class="fa fa-heart add-fav" [ngClass]="{'fav-active' : favSelect}" aria-hidden="true" (click)="likeSupport()"></i>
    <i class="fa fa-shopping-cart add-cart" [ngClass]="{'cart-active' : cartSelect}" (click)="cartSupport()" aria-hidden="true"></i>

</div>