.trending-now-container {
  ::ng-deep .swiper-slide {
    margin-right: 15px;
    width: auto !important;
  }
  .slider-with-text-image {
    position: relative;

    .text-wrapper {
      position: absolute;
      color: #fff;
      z-index: 100;
      left: 20px;
      bottom: 35px;

      p {
        font-size: 18px;
        margin: 0;
        padding: 10px 0;
      }
      h1 {
        margin: 0;
        padding: 0;
        font-size: 16px;
      }
      h2 {
        margin: 0;
        padding: 0;
        font-size: 25px;
      }
    }
    img {
      width: 100%;
      min-width: 350px;
      height: 350px;
      object-fit: cover;
      object-position: top;
    }
  }

  .swiper-container {
    padding: 0 50px 0 60px;
  }
}

@media (max-width: 576px) {
  .trending-now-container .slider-with-text-image img {
    width: 90vw;
    min-width: auto;
  }
}
