@import "~swiper/swiper-bundle";

.app-layout {
    width: 100%;
    position: relative;

    .app-header {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 999;
    }
    .app-container {
        overflow: hidden;
    }
}
