/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000;
}

input:focus,
button:focus {
    outline: none;
}
